@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

/* Ensure images scale inside their containers when width/max-width are set
.logo img {
  max-width: 10% !important;
  height: auto;
} */

* {
  font-family: outfit;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}

.active {
  background-color: rgb(229, 232, 235);
  color: black;
}
