@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: OutFit;
}

/* 
.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: #414141;
    color: white;
  }
}

.product-images::-webkit-scrollbar {
  display: none;
}

.product-card {
  background-color: #f9f9f9;
}

/* .product-card img {
  width: 19.36rem !important;
  height: 45rem !important;
} */
