@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: OutFit;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: #414141;
    color: white;
  }
}

.product-images::-webkit-scrollbar {
  display: none;
}

.product-card {
  background-color: #f9f9f9;
}

/* .product-card img {
  width: 19.36rem !important;
  height: 45rem !important;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-x-scrollbar-track {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
